<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>svtCliente</servlet-name>
        <servlet-class>servlet.cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>servlet.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>principal</servlet-name>
        <servlet-class>servlet.principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleado</servlet-name>
        <servlet-class>servlet.empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ordenTrabajo</servlet-name>
        <servlet-class>servlet.ordenTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicio</servlet-name>
        <servlet-class>servlet.servicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serviciosRealizados</servlet-name>
        <servlet-class>servlet.serviciosRealizados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unidadComercial</servlet-name>
        <servlet-class>servlet.unidadComercial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svtCliente</servlet-name>
        <url-pattern>/svtCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleado</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ordenTrabajo</servlet-name>
        <url-pattern>/ordenTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicio</servlet-name>
        <url-pattern>/servicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviciosRealizados</servlet-name>
        <url-pattern>/serviciosRealizados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unidadComercial</servlet-name>
        <url-pattern>/unidadComercial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
